.card {
  max-width: 1110px;
  margin: auto;
}

.card__list {
  list-style: none;

  @include breakpoint(desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 24px;
    grid-auto-rows: 282px;
  }
}

.card__item-wrap {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.card__item-author {
  line-height: 13px;
  color: #ffffff;
  margin-bottom: 4px;
}

.author-img {
  width: 32px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.author-wrap {
  display: inline-block;
}

.card__item-status {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
}

.card__item-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 18px;
}

.card__item-description {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #cfcfcf;
  mix-blend-mode: normal;
}

.card__item-inner-wrap {
  height: 100%;
  overflow: hidden;
}

.card__item {
  padding: 26px 32px 32px 32px;
  border-radius: 8px;
  margin-bottom: 24px;
  height: 100%;

  @include breakpoint(desktop) {
    margin-bottom: 0;
    padding-bottom: 29px;
  }

  &:nth-child(5n + 1) {
    background-color: #733fc8;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;

    @include breakpoint(desktop) {
      grid-column: span 2;
    }

    &:before {
      content: "";
      background: url(./assets/bg-pattern-quotation.svg);
      width: 104px;
      height: 102px;
      position: absolute;
      top: 0;
      right: 25px;

      @include breakpoint(desktop) {
        right: 80px;
      }
    }

    .author-img {
      border: 2px solid #a775f1;
    }

    .card__item-heading {
      z-index: 1;
      position: relative;
      margin-bottom: 40px;

      @include breakpoint(desktop) {
        margin-bottom: 13px;
      }
    }

    .card__item-status {
      color: #ffffff;
      opacity: 0.5;
    }
  }

  &:nth-child(5n + 2) {
    background-color: #48556a;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);

    @include breakpoint(desktop) {
      //grid-column: 3;
    }

    .card__item-status {
      color: #ffffff;
      opacity: 0.5;
    }
  }

  &:nth-child(5n + 3) {
    background-color: #fff;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);

    @include breakpoint(desktop) {
      grid-row: span 2;
    }

    .card__item-heading,
    .card__item-author {
      color: #48556a;
    }

    .card__item-status {
      color: #48556a;
      opacity: 0.5;
    }
  }

  &:nth-child(5n + 4) {
    background-color: #fff;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);

    .card__item-heading,
    .card__item-author {
      color: #48556a;
    }

    .author-img {
      border: 2px solid #a775f1;
    }

    .card__item-status {
      color: #ffffff;
      opacity: 0.5;
    }
  }

  &:nth-child(5n + 5) {
    background-color: #19202d;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    @include breakpoint(desktop) {
      grid-column: span 2;
    }

    .card__item-status {
      color: #48556a;
      opacity: 0.5;
    }
  }
}
