body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
}

.layout {
  padding: 71px 24px;

  @include breakpoint(desktop) {
    padding: 20px;
  }
}

.card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
